<div class="modal fade" id="newTicketModal" tabindex="-1" role="dialog" aria-labelledby="newTicketModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newTicketModalLabel">Nouveau Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="js-new-ticket-form" name="" method="post">
                    <div class="form-group">
                        <label class="control-label" for="objet">Thèmes</label>
                        <select class="form-control" name="objet" id="objet"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="aboutWho">Jeune</label>
                        <select id="aboutWho" name="aboutWho" required="required" class="form-control">
                            <option value="" selected="selected">Sélectionner le jeune</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="message">Message</label>
                        <textarea class="form-control" id="message" name="message"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="level">Niveau</label>
                        <select id="level" name="level" class="form-control">
                            <option value="normal">Normal</option>
                            <option value="urgent">Urgent</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Créer</button>
                </form>
            </div>
        </div>
    </div>
</div>