{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block title %}Page d'accueil{% endblock %}

{% block content %}
    <h1 class="accueil">En attente du design</h1>
{% endblock %}
