{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <header>
            <div>
                <img src="https://dummyimage.com/1900x730/149ede.png&text=Welcome" class="img-fluid" alt="welcome">
            </div>
    </header>
{% endblock %}
