<form class="js-edit-status-form" name="" method="post" novalidate="novalidate" style="width: 100%">
    <div class="form-group" hidden="hidden">
        <label class="control-label required" for="status">Status</label>
        <select id="status" name="status" class="form-control">
            <option value="">Serez-vous présent</option>
            <option value="1">Oui</option>
            <option value="0">Non</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="js-participe form-control btn btn-success">Je participe</button>
        <button type="submit" class="js-participe-pas form-control btn btn-danger">Je ne participe pas</button>
    </div>
</form>

