<form class="js-edit-entretien-form" novalidate data-entretien="<%= id %>">
    <div id="appbundle_entretien">
        <div class="form-group">
            <label class="control-label required" for="date">Date</label>
            <input type="text" id="date" name="date" required="required" class="js-datepicker form-control" value="<%= date %>" disabled="disabled"/>
        </div>

        <div class="form-group">
            <label class="control-label required" for="young">Jeune</label>
            <input type="text" class="form-control" value="<%= young %>" disabled="disabled"/>
            <input type="hidden" id="young" name="young" class="form-control" value="<%= youngId %>" />
        </div>

        <ul class="js-actual-guests list-unstyled">
            <% _.each(guests, function(guest){ %>
            <li id="<%= guest.id %>" title="<%= guest.name %>">
                <% if(guest.status == false ) { %>
                    <span class="badge badge-warning"><%= guest.name %></span>
                <% } else { %>
                    <span class="badge badge-success"><%= guest.name %></span>
                <% }; %>
            </li>
            <% }); %>
        </ul>
        <div class="form-group">
            <label class="control-label required" for="objet">Objet</label>
            <input type="text" id="objet" name="objet" required="required" maxlength="255" class="form-control" value="<%= objet %>" disabled="disabled"/>
        </div>
        <div class="form-group">
            <label class="control-label required" for="odj_edit_2">Ordre du jour</label>
            <textarea id="odj_edit_2" name="odj" required="required" class="form-control" disabled="disabled"><%= odj %></textarea>
        </div>
        <a href="#" class="js-detail-compteRendu" data-id="<%= compteRendu %>">Consulter Compte Rendu</a>
    </div>
</form>