
    <div class="" id="myInterview" role="tabpanel">
        <div class="js-main-content-created">
            <div>
                <span class="badge badge-warning "><i class="fa fa-eye" aria-hidden="true"></i></span><span><em> Clôturé</em></span>
                <span class="badge badge-success"><i class="fa fa-eye" aria-hidden="true"></i></span><span><em> Ouvert</em></span>
                <span class="badge badge-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span><span><em> Ecrire compte rendu</em></span>
            </div>

            <table class="table table-responsive table-hover">
                <thead>
                <tr>
                    <th colspan="2">Actions</th>
                    <th>Date</th>
                    <th>Objet</th>
                    <th>Ordre du jour</th>
                    <th>Organisateur</th>
                </tr>
                </thead>
                <tbody class="js-entretiens-table"></tbody>
            </table>
        </div>
    </div>
