<form class="js-new-entretien-form" novalidate data-url="{{ path('entretien_new') }}">
    <div id="appbundle_entretien">
        <div class="form-group">
            <label class="control-label required" for="date">Date</label>
            <input type="text" id="date" name="date" required="required" class="js-datepicker form-control" value="02/04/2017" />
        </div>
        <div class="form-group">
            <label class="control-label required" for="young">Interviewee</label>
            <select id="young" name="young" class="form-control js-select-user">
                <option value="" selected>Sélectionnez le jeune</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label required" for="guests">Invités</label>
            <select id="guests" name="guests" class="form-control js-select-guest" disabled="disabled">
                <option value="" selected>Sélectionnez les invités</option>
            </select>
        </div>
        <div>
            <ul class="js-actual-guests list-unstyled">

            </ul>
        </div>

        <div class="form-group">
            <label class="control-label required" for="objet">Objet</label>
            <input type="text" id="objet" name="objet" required="required" maxlength="255" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label required" for="odj">Ordre du jour</label>
            <textarea id="odj" name="odj" required="required" class="form-control"><%= odj %></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Créer</button>
</form>