<p><a class="btn btn-primary" href="{{ path('entretien_new') }}">Nouvel entretien</a></p>
<table class="js-table-wrapper table table-responsive">
    <thead>
    <tr>
        <th>Date</th>
        <th>Objet</th>
        <th>Compte rendu</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody class="action">

    </tbody>
</table>

