{% extends 'App/layout.html.twig' %}

{% block dashcontent %}
    <h1>Liste Entretiens</h1>
    {{ include('entretien/_interviews-lists.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('entretien/template/_scriptGlobal.html.twig') }}
{% endblock %}
