<form id="js-compte-rendu-form">
    <div class="form-group">
        <label>Date</label>
        <input class="form-control" type="date" name="date" placeholder="jj/mm/yyyy" value="<% var d = new Date(data); print(d.toLocaleDateString()); %>"/>
    </div>

    <div class="form-group">
        <input type="hidden" class="form-control js-entretien-input" value="<%= entretien %>" name="entretien"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="presence">
            Présence
        </label>
        <textarea name="presence" id="presence" class="form-control"><%= presence %></textarea>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="compteRendu">
            Compte Rendu
        </label>
        <textarea name="compteRendu" id="compteRendu" class="form-control" ><%= compteRendu %></textarea>
    </div>
    <button type="submit" class="js-btn-submit-compterendu btn btn-primary">Modifier</button>
</form>

