{# TODO Modifier le format de la date #}
<tr title="id_<%= id %>">
    <td><%= date %></td>
    <td><%= objet %></td>
    <td><%= compteRendu %></td>
    <td><%= author %></td>
    <td><a href="<%= links._self %>" class="js-detail-entretien btn btn-warning" data-id="<%= id %>" data-toggle="modal" data-target="#editEntretienModal">Consulter</a></td>
</tr>