<tr title="id_<%= id %>">
    <td><% var d = new Date(date); print(d.toLocaleDateString()); %></td>
    <td><%= objet %></td>
    <td><%= odj %></td>
    <td><%= author %></td>
    <% if(compteRendu) { %>
    <td>
        <a href="<%= links._self %>"
           class="js-detail-entretien btn btn-success"
           data-id="<%= id %>"
           data-toggle="modal"
           data-target="#editEntretienModal">
            <i class="fa fa-eye" aria-hidden="true"></i>
        </a>
    </td>
    <% } else { %>
    <td>
        <a href="<%= links._self %>"
           class="js-detail-entretien btn btn-warning"
           data-id="<%= id %>"
           data-toggle="modal"
           data-target="#editEntretienModal">
            <i class="fa fa-eye" aria-hidden="true"></i>
        </a>
    </td>

    <% } %>
    <td>
        <% if (!compteRendu && authorId == $('.js-entretien-wrapper').data('user')) { %>
            <a href="#" class="js-saisir-compteRendu btn btn-primary"
               data-id="<%= id %>"
               data-toggle="modal"
               data-target="#saisirCompteRenduModal">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
        <% } %>
    </td>

</tr>