/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/app/DoctrinesMigrations/
/web/css/compiled/
/web/js/compiled/
/web/pdf/
/web/test/
/src/documents/
Supprimerait var/cache/
Supprimerait var/logs/
Supprimerait var/sessions/

Supprimerait var/
Supprimerait web/.babelrc
Supprimerait web/app/
Supprimerait web/brunch-config.js
Supprimerait web/node_modules/
Supprimerait web/package.json
Supprimerait web/yarn.lock
/web/react/node_modules/
Supprimerait web/react/
