/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/app/DoctrinesMigrations/
/web/css/compiled/
/web/js/compiled/
/web/pdf/
/web/test/
/src/documents/
Supprimerait var/cache/
Supprimerait var/logs/
Supprimerait var/sessions/

