<tr id="<%= id %>" data-id="<%= id %>">
   <td>
       <a class="js-display-file" href="/arkein/documents/<%= fileName %>"><i class="fa fa-file" aria-hidden="true"></i>  <%= fileName %></a></td>
    <td align="center">
        <a href="#"
           class="js-delete-document btn btn-danger btn-sm"
        >x</a>
    </td>
</tr>
