<form class="js-new-answer-form" name="answer" method="post" action="" novalidate>
    <div class="form-group">
        <label class="control-label required" for="answer_message">Réponse</label>
        <textarea id="answer_message" name="message" required="required" class="form-control"></textarea>
    </div>
    <input class="btn btn-success" type="submit" value="Répondre" />
</form>
