<tr>
    <td><a href="<%= links._self %>"
           class="js-detail-user btn btn-success btn-sm"
           data-id="<%= id %>"
           title="Consulter">
            <i class="fa fa-eye" aria-hidden="true"></i>
        </a>
    </td>
    <td><%= name %></td>
    <td><%= firstname %></td>
    <td><%= email %></td>
    <td><%= role %></td>
</tr>