<div class="hidden-sm-up">
    <div class="js-main-content">
        <ul class="js-list-user list-group">
            {% for user in users %}
            <div class="list-group-item d-flex justify-content-between">
                <div><a href="{{ path('user_show', {'id': user.id}) }}">{{ user.name }} {{ user.firstname }}</a></div>
                <div>{{ user.phonenumbers.first }}</div>
            </div>

            {% endfor %}
        </ul>
    </div>
</div>

<div class="hidden-xs-down">
    <div class="js-main-content">
        <table class="table table-hover" width="100%">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
