{% extends ':App:layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}

{% endblock %}

{% block body %}
    <h1>List des membres</h1>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="btnAjoutGenerique">
        <a class="btn btn-primary" href="{{ path('user_new') }}">Ajouter un membre</a>
    </div>
        {% endif %}
    {% include (':user:_responsive-xs-index.html.twig') %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const $wrapper = $('.js-main-content');
        const userApp = new UserApp($wrapper);
    </script>

    {# Template pour les users:
     1- Load du tableau
     #}
    <script type="text/template" id="js-user-row-template">
        {{ source ('user/template/_lists-user.html.twig') }}
    </script>
{% endblock %}
