{% extends ':organization:layout.html.twig' %}

{% block body %}
    <h1>Organization creation</h1>
    <p><a href="{{ path('organization_index') }}">Back to the list</a></p>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
