<form name="" method="post">
    <div>
        <div class="form-group">
            <label class="control-label required" for="status">Status</label>
            <select id="status" name="status" class="form-control">
                <option value="1" selected="selected">true</option>
                <option value="0">false</option>
            </select></div>
        <input type="hidden" id="_token" name="_token" value="2jC7GdP59X0qMQG8oSWdKcJZThpMcouMxqBYoenlOmE" /></div>
    <input type="submit" value="Edit" />
</form>