{% extends ':App:layout.html.twig' %}

{% block body %}
    <h1>Events list</h1>
    <p><a class="btn btn-primary" href="{{ path('event_new') }}">Create a new event</a></p>
    {% include ':event:_list_event.html.twig' %}
{% endblock %}
