<!-- Modal -->
<div class="modal fade" id="modalAddDoc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nouveau document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="js-new-document-form-wrapper">
                    <form id="form-id" enctype="multipart/form-data" class="js-new-document-form" data-url="{{ path('api_new_doc', {id: user.id}) }}" novalidate="novalidate">
                        <div class="form-group d-flex justify-content-center">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button"><i class="fa fa-folder"></i></button>
                            </span>

                            <select
                                    name="categorie"
                                    required="required"
                                    class="js-select-folder form-control">
                                <option value="" selected>Sélectionner un dossier</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="file" class="js-input-load file" name="fileTemporary" required="required" />
                            <div class="input-group col-xs-12">
                                <span class="input-group-btn">
                                    <button class="browse btn btn-secondary input-lg" type="button"> <i class="fa fa-search"></i></button>
                                </span>
                                <p class="js-inputfile-text form-control">Télécharger un fichier</p>
                            </div>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                Privé/Public
                                <input id="isPrivate" type="checkbox" name="isPrivate" />
                            </label>
                        </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" data-toggle="collapse" data-target="#addFolderForm" class="js-new-folder btn btn-secondary" aria-expanded="false" aria-controls="addFolderForm">Nouveau dossier</button>
                <div class="btn-group" role="group" aria-label="footerBtn">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
                </form>
            </div>
            <div class="modal-body">
                <div class="js-category collapse" id="addFolderForm">
                    {{ include(':document/categorie:_add_categorie_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>