<tr>
    <td><a href="{{ vich_uploader_asset(document, 'fileTemporary') }}">{{ document.fileName }}</a></td>
    <td align="center">
        <a href="#"
           class="js-delete-document btn btn-danger"
           data-url="{{ path('document_delete', {id: document.id}) }}"
        >x</a>
    </td>
</tr>