<form class="js-new-folder-form" novalidate>
    <div class="input-group">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" >Créer</button>
        </span>
        <input type="text" id="folder"
               name="name" required="required"
               placeholder="Nom du dossier"
               class="form-control" />
        <div class="form-check">
            <label class="form-check-label">
                <input class="js-isprivate-file" name="isPrivate" id="isPrivate" type="checkbox" value="">
                is Private
            </label>
        </div>
    </div>
</form>