<h3>Nouvelle demande de contact</h3>
<table class="table">
    <tr>
        <th>Nom</th>
        <td>{{ mail.nom }}</td>
    </tr>
    <tr>
        <th>Prénom</th>
        <td>{{ mail.prenom }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ mail.mail }}</td>
    </tr>
    <tr>
        <th>Message</th>
        <td>{{ mail.message }}</td>
    </tr>
</table>
