
<h3>Demande d'inscription validée</h3>

Votre inscription a été validée

<table class="table">
    <tr>
        <th>Nom</th>
        <td>{{ user.name }}</td>
    </tr>
    <tr>
        <th>Prénom</th>
        <td>{{ user.firstname }}</td>
    </tr>
    <tr>
        <th>Role</th>
        <td>{{ user.role }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
    </tr>

</table>
Pour vous connecter: <a href="#">Connexion</a>.
