
<h3>Réponse de User</h3>

Entretien du: ....
Etat de présence....
Commentaire...

<table class="table">
    <tr>
        <th>Nom</th>
        <td>{{ status.user.name }}</td>
    </tr>
    <tr>
        <th>Prénom</th>
        <td>{{ status.user.firstName }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ status.user.email }}</td>
    </tr>

</table>
