
<h3>Nouvelle demande d'inscription</h3>

Vous venez de recevoir une nouvelle demande d'inscription.

<table class="table">
    <tr>
        <th>Nom</th>
        <td>{{ user.name }}</td>
    </tr>
    <tr>
        <th>Prénom</th>
        <td>{{ user.firstname }}</td>
    </tr>
    <tr>
        <th>Role</th>
        <td>{{ user.role }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
    </tr>

</table>
Pour vous connecter: <a href="">Connexion</a>.
