{% extends 'base.html.twig' %}

{% block content %}
    <div class="container" >
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="alert alert-success" role="alert">
                                <h4 class="alert-heading">Votre demande d'enregistrement a été pris en compte.</h4>
                                <p>Votre compte sera validé dans les plus bref délais, vous recevrez un mail de confirmation de notre part</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
           var $modal = $('#myModal');
           $modal.modal('show');
           $modal.on('hide.bs.modal', function(e){
               e.preventDefault();
               window.location.href="/";
           })
        });
    </script>
{% endblock %}